/.git
/.idea
/.vscode
/0527.py
/async-serial-master
/body.jpg
/body1.jpg
/body1.png
/bull.ui
/button_signal.ui
/button_size.py
/coronavirus_stay_at_home_icon_143458.ico
/down.png
/Include
/Lib
/media_player.py
/medMenuV0r1E01.py
/medMenuV0r1E02.py
/medMenuV0r1E03.py
/medMenuV0r1E04.py
/medMenuV0r1E04_3d.py
/OpenTutorials_PyQt-master
/play.png
/PyQt-master
/PyQtSerial.py
/PyQtSerial_55070483.py
/PyQtSerial_ioSoft.py
/PyQt_QtSerial_readyRead.py
/pyvenv.cfg
/resource_terminal_display.qrc
/scrap.py
/Scripts
/SerialOnly.py
/Sitting Woman v1.obj
/stop.png
/table_ex.py
/Thread_vanila.py
/up.png
/virtutorial.py
/wikibooks.py
/window.py
/window.ui
/__pycache__